<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"> </ion-menu-button>
    <ion-title>Ion-Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default -->
  <ion-button>Default</ion-button>
  <br /><br />
  <!-- Sizes -->
  <ion-button size="large">Large</ion-button>
  <br />
  <ion-button>Default</ion-button>
  <br />
  <ion-button size="small">Small</ion-button>

  <!-- Anchor -->
  <ion-button href="https://github.com/vvdo">Github</ion-button>

  <br /><br />
  <!-- Colors -->
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <br />
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <!-- Expand -->
  <ion-button expand="full">Full Button</ion-button>
  <ion-button expand="block" color="dark">Block Button</ion-button>

  <!-- Round Arredondado -->
  <ion-button shape="round">Round Button</ion-button>

  <!-- Fill -->
  <ion-button expand="full" fill="outline">Outline + Full</ion-button>
  <ion-button expand="block" fill="outline">Outline + Block</ion-button>
  <ion-button shape="round" fill="outline">Outline + Round</ion-button>

  <br /><br />

  <!-- Icons -->
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  <br />
  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
  <br />
  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-content>
